.filter-wrapper {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;

  .filter-title {
    background-color: #2a5ea5;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
  }

  div {
    padding: 5px 20px;
    margin-bottom: 13px;
  }

  select {
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
  }
  .filter-by-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filter-by-name input {
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
  }
  .filter-by-name button {
    width: 25%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #2a5ea5;
    color: #fff;
  }
}
